$color: #0f0;
$bg-color: #000;


html, body {
	margin: 0;
	height: 100%;
}



.puzzle-wrapper {
	width: 100%;
	height: 100%;

	.grid-input {

	}

	.puzzle-grid {
		--grid-width: 25%;
		font-size: 0;
		padding: 0;
		$grid-width:  var(--grid-width);

		li {
			width: $grid-width;
			font-size: 1rem;
			display: inline-block;
			text-align: center;
		}
		
	}

}







